{% set title = "Blog Posts" %}
{% extends 'base.html' %}


{% block content %}
    <div>Create a link so the user can create a new entry</div>
    <div>Also check how to make the tasks specific for each user as now they show for each user</div>
    <div id='blog-link' class="container blog-entries">
        <div class="row row-cols-1 row-cols-md-3 justify-content-center">
            {% for entry in entries %}
                <div class="col">
                    <div class="card mb-3 entry-card">
                        <div class="card-body">
                        <h5 class="card-title">{{ entry.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ entry.created_at.strftime('%Y-%m-%d %H:%M') }}</h6>
                        <p class="card-text entry-content_short content">{{ entry.content|safe }}</p>
                        <a href="{{ url_for('views.entry', entry_id=entry.id) }}" class="card-link entry-options">
                            View Entry
                        </a>
                        <a href="{{ url_for('views.edit_page', entry_id=entry.id) }}" class="card-link entry-options">
                            Edit Entry
                        </a>
                        <a href="{{ url_for('views.delete_entry', entry_id=entry.id) }}" class="card-link entry-options">
                            Delete Entry
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}