@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root{
    --primary-font: 'Segoe UI', sans-serif;
    --title-font: "Sacramento", sans-serif;
    --body-color: #eed9c4;
    --contrast-color: #d9b99b;
    --title-color: #382615;
    --special-text-color: #CC5500;
}

body{
    background-color: var(--body-color);
    font-family: var(--primary-font);
}

span{
    /* color: var(--title-color); */
    color: var(--special-text-color);
}

.divider-line{
    width: 100%;
    padding: 0.5%;
    background-color: var(--special-text-color);
}

/* NAVIGATION BAR */
.nav{
    padding: 0;
}

.nav-custom{
    background-color: var(--contrast-color);
    padding: 10px;
}

.nav-title{
    font-family: var(--title-font);
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--title-color);
}

.nav-title:hover{
    color: var(--title-color);
}

.nav-link_item{
    font-family: var(--primary-font);
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--title-color);
    text-decoration: none;
    border: 2.5px solid var(--body-color);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-link_item:hover{
    color: var(--title-color);
    border: 2.5px solid var(--title-color);
    transition: .5s ease-in-out;
}

/* HOME PAGE */
.start-btn{
    font-family: var(--primary-font);
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--title-color);
    background-color: var(--body-color);
    text-decoration: none;
    border: 2.5px solid var(--contrast-color);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.start-btn:hover{
    border: 2.5px solid var(--title-color);
}

.home-titles{
    font-family: var(--primary-font);
    font-size: 2.125rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: capitalize;
    margin-right: 10px;
}

.home-text_description{
    font-weight: 500;
}

.home-a{
    text-decoration: none;
    color: var(--title-color);
}

.home-arrow{
    font-weight: 600;
}

/* FOOTER */
.footer{
    background-color: var(--contrast-color);
}

.footer-title{
    font-family: var(--title-font);
    font-size: 5rem;
    font-weight: 600;
    color: var(--title-color);
    text-transform: capitalize;
    margin-right: 10px;
    text-align: center;
}

.footer-links{
    text-decoration: none;
    color: var(--title-color);
}

.socials-btn{
    border: 2.5px solid var(--body-color);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* SIGN UP LOGIN  */

.registration-title{
    font-family: var(--title-font);
    font-size: 2.3rem;
    word-spacing: 5px;
}

.register-container{
    background-color: var(--body-color);
    border: 5px solid var(--special-text-color);
    font-family: var(--primary-font);
    font-weight: 600;
}

.form-control{
    background: none;
    border: 0;
    border-bottom: 2px solid var(--contrast-color);
}

.form-control:focus{
    outline: none;
    box-shadow: none;
    background: none;
    border: 0;
    border-bottom: 2px solid var(--special-text-color);
}

.form-boxes{
    display: flex;
    flex-direction: column;
}

.modal-header, .modal-footer{
    border: 0;
}

.modal-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.signup-btn{
    font-family: var(--primary-font);
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--title-color);
    background-color: var(--body-color);
    text-decoration: none;
    border: 2.5px solid var(--contrast-color);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 100%;
    transition: .3s ease-in;
}

.signup-btn:hover{
    border: 2.5px solid var(--special-text-color);
}

.redirect-link{
    text-decoration: none;
    color: var(--special-text-color);
    font-weight: 800;
    transition: .2s ease-in-out;
}

.redirect-link:hover{
    border-bottom: 2px solid var(--special-text-color);
}

/* FLASH MESSAGES */
.flash-messages-container {
    position: fixed;
    /* top: 50%; */
    top: 4.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    text-align: center;
    z-index: 1000;
}

.flash-message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.error {
    background-color: #FF5252; 
    color: #fff; 
}

.alert-success {
    background-color: #4CAF50; 
    color: #fff; 
}

.close {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}